body {
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
	background-color: #666;
	}

#container {
	padding: 25px;
}

#chart {
	text-align: center;
	top: 50px;
	left: 50px;
	display: inline-block;
}

#sidebar {
	float: left;
	padding: 20px;
	border-radius: 6px;
	background-color: #888;
	width: 300px;
	left: 20px;
	top: 20px;
}

.employee-img {
	display: inline-block;
	padding: 10px;
	z-index: 900;
}

img {
	border-radius: 6px;
	border-width: 3px;
	border-color: #444;
	border-style: solid;
}

.info-popup {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 160px;
	z-index: 999;
	background-color: #111;
	color: #fff;
	opacity: 0.75;
	border-radius: 3.5%;
	padding: 10px;
}

#days {
	float:right;
	top: 25px;
	right: 25px;
	position: absolute;
	display: inline-block;
	z-index: 900;
	background-color: #888;
	padding: 10px;
	border-radius: 6px;
}

#day-selector {
	padding: 0px;
	margin: 0px;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

.btn {

	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	padding: 6px;
	font-size: 14px;
	border: 1px solid transaprent;
	text-align: center;
	vertical-align: center;
	border-radius: 6px;
	border-width: 2px;
	border-color: #444;
	border-style: solid;

}

.btn:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
}